@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Ubuntu');


body {
  font-family:Monaco,Georgia,Times,serif;
}

header {background-image: url("../images/Academia_banner.png");
	height: 300px;
}

.form-group {
	align-items: center;
}

.informacion {
	
}

.noticia {
	
}

.login {
	
}


panel-body{
	
	font-size: 1.2em;
}


.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}